
/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
DROP TABLE IF EXISTS `adherent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `adherent` (
  `Id_Adherent` int NOT NULL AUTO_INCREMENT,
  `code_adherent` varchar(20) DEFAULT NULL,
  `nomadh` varchar(50) DEFAULT NULL,
  `prenomadh` varchar(50) DEFAULT NULL,
  `datenaissance` date DEFAULT NULL,
  `adresseadh` varchar(50) DEFAULT NULL,
  `mailadh` varchar(50) DEFAULT NULL,
  `telephoneadh` varchar(50) DEFAULT NULL,
  `dateadhesion` date DEFAULT NULL,
  `Id_Adherent_1` int DEFAULT NULL,
  PRIMARY KEY (`Id_Adherent`),
  KEY `Id_Adherent_1` (`Id_Adherent_1`),
  CONSTRAINT `adherent_ibfk_1` FOREIGN KEY (`Id_Adherent_1`) REFERENCES `adherent` (`Id_Adherent`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `adherent` WRITE;
/*!40000 ALTER TABLE `adherent` DISABLE KEYS */;
/*!40000 ALTER TABLE `adherent` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `carte`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `carte` (
  `Id_Carte` int NOT NULL AUTO_INCREMENT,
  `dateemission` date DEFAULT NULL,
  `Id_Adherent` int NOT NULL,
  PRIMARY KEY (`Id_Carte`),
  KEY `Id_Adherent` (`Id_Adherent`),
  CONSTRAINT `carte_ibfk_1` FOREIGN KEY (`Id_Adherent`) REFERENCES `adherent` (`Id_Adherent`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `carte` WRITE;
/*!40000 ALTER TABLE `carte` DISABLE KEYS */;
INSERT INTO `carte` VALUES (1,'2026-01-05',1),(2,'2026-01-05',2),(3,'2026-01-05',3),(5,'2026-01-05',5),(6,'2025-01-01',4);
/*!40000 ALTER TABLE `carte` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `codedewey`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `codedewey` (
  `codewey` varchar(50) NOT NULL,
  `libelledewey` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`codewey`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `codedewey` WRITE;
/*!40000 ALTER TABLE `codedewey` DISABLE KEYS */;
INSERT INTO `codedewey` VALUES ('000','Informatique et information'),('100','Philosophie'),('200','Religion'),('300','Sciences sociales'),('500','Sciences'),('600','Technologie'),('800','Litt├®rature'),('900','Histoire et g├®ographie');
/*!40000 ALTER TABLE `codedewey` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `emprunt`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `emprunt` (
  `Id_Emprunt` int NOT NULL AUTO_INCREMENT,
  `dateemprrunt` date DEFAULT NULL,
  `dateretour` date DEFAULT NULL,
  `Id_Adherent` int NOT NULL,
  PRIMARY KEY (`Id_Emprunt`),
  KEY `Id_Adherent` (`Id_Adherent`),
  CONSTRAINT `emprunt_ibfk_1` FOREIGN KEY (`Id_Adherent`) REFERENCES `adherent` (`Id_Adherent`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `emprunt` WRITE;
/*!40000 ALTER TABLE `emprunt` DISABLE KEYS */;
/*!40000 ALTER TABLE `emprunt` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `emprunter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `emprunter` (
  `Id_Exemplaire` int NOT NULL,
  `Id_Emprunt` int NOT NULL,
  PRIMARY KEY (`Id_Exemplaire`,`Id_Emprunt`),
  KEY `Id_Emprunt` (`Id_Emprunt`),
  CONSTRAINT `emprunter_ibfk_1` FOREIGN KEY (`Id_Exemplaire`) REFERENCES `exemplaire` (`Id_Exemplaire`),
  CONSTRAINT `emprunter_ibfk_2` FOREIGN KEY (`Id_Emprunt`) REFERENCES `emprunt` (`Id_Emprunt`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `emprunter` WRITE;
/*!40000 ALTER TABLE `emprunter` DISABLE KEYS */;
/*!40000 ALTER TABLE `emprunter` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `exemplaire`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `exemplaire` (
  `Id_Exemplaire` int NOT NULL AUTO_INCREMENT,
  `code_exemplaire` varchar(50) DEFAULT NULL,
  `etat` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`Id_Exemplaire`),
  UNIQUE KEY `uq_code_exemplaire` (`code_exemplaire`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `exemplaire` WRITE;
/*!40000 ALTER TABLE `exemplaire` DISABLE KEYS */;
INSERT INTO `exemplaire` VALUES (1,'800-1','Bon ├®tat'),(2,'800-2','Bon ├®tat'),(3,'800-3','Bon ├®tat'),(4,'800-4','Neuf'),(5,'800-5','Usag├®'),(6,'800-6','Bon ├®tat'),(7,'800-7','Bon ├®tat');
/*!40000 ALTER TABLE `exemplaire` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `livre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `livre` (
  `Id_Livre` int NOT NULL AUTO_INCREMENT,
  `titre` varchar(50) DEFAULT NULL,
  `type_support` enum('papier','numerique','les deux') NOT NULL DEFAULT 'papier',
  `datesortie` date DEFAULT NULL,
  `isbn` varchar(50) DEFAULT NULL,
  `dateachat` date DEFAULT NULL,
  `codewey` varchar(50) NOT NULL,
  PRIMARY KEY (`Id_Livre`),
  KEY `codewey` (`codewey`),
  CONSTRAINT `livre_ibfk_1` FOREIGN KEY (`codewey`) REFERENCES `codedewey` (`codewey`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `livre` WRITE;
/*!40000 ALTER TABLE `livre` DISABLE KEYS */;
/*!40000 ALTER TABLE `livre` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `livre_num`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `livre_num` (
  `Id_Livre` int NOT NULL,
  `datedebutacces` date DEFAULT NULL,
  `datefinacces` date DEFAULT NULL,
  PRIMARY KEY (`Id_Livre`),
  CONSTRAINT `livre_num_ibfk_1` FOREIGN KEY (`Id_Livre`) REFERENCES `livre` (`Id_Livre`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `livre_num` WRITE;
/*!40000 ALTER TABLE `livre_num` DISABLE KEYS */;
INSERT INTO `livre_num` VALUES (1,'2026-01-01',NULL),(8,'2026-01-01',NULL),(9,'2026-01-01','2026-06-30'),(10,'2026-01-01',NULL);
/*!40000 ALTER TABLE `livre_num` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `posseder`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `posseder` (
  `Id_Livre` int NOT NULL,
  `Id_Exemplaire` int NOT NULL,
  PRIMARY KEY (`Id_Livre`,`Id_Exemplaire`),
  KEY `Id_Exemplaire` (`Id_Exemplaire`),
  CONSTRAINT `posseder_ibfk_1` FOREIGN KEY (`Id_Livre`) REFERENCES `livre` (`Id_Livre`),
  CONSTRAINT `posseder_ibfk_2` FOREIGN KEY (`Id_Exemplaire`) REFERENCES `exemplaire` (`Id_Exemplaire`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `posseder` WRITE;
/*!40000 ALTER TABLE `posseder` DISABLE KEYS */;
INSERT INTO `posseder` VALUES (1,1),(2,2),(3,3),(4,4),(5,5),(6,6),(7,7);
/*!40000 ALTER TABLE `posseder` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `telechargement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `telechargement` (
  `Id_Telechargement` int NOT NULL AUTO_INCREMENT,
  `Id_Livre` int NOT NULL,
  `Id_Adherent` int NOT NULL,
  `datetelechargement` datetime DEFAULT NULL,
  PRIMARY KEY (`Id_Telechargement`),
  KEY `Id_Livre` (`Id_Livre`),
  KEY `Id_Adherent` (`Id_Adherent`),
  CONSTRAINT `telechargement_ibfk_1` FOREIGN KEY (`Id_Livre`) REFERENCES `livre` (`Id_Livre`) ON DELETE CASCADE,
  CONSTRAINT `telechargement_ibfk_2` FOREIGN KEY (`Id_Adherent`) REFERENCES `adherent` (`Id_Adherent`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `telechargement` WRITE;
/*!40000 ALTER TABLE `telechargement` DISABLE KEYS */;
/*!40000 ALTER TABLE `telechargement` ENABLE KEYS */;
UNLOCK TABLES;
DROP TABLE IF EXISTS `utilisateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateur` (
  `Id_Utilisateur` int NOT NULL AUTO_INCREMENT,
  `identifiant` varchar(100) NOT NULL,
  `motdepasse` varchar(255) NOT NULL,
  `role` enum('admin','adherent') NOT NULL DEFAULT 'adherent',
  `Id_Adherent` int DEFAULT NULL,
  PRIMARY KEY (`Id_Utilisateur`),
  UNIQUE KEY `identifiant` (`identifiant`),
  KEY `Id_Adherent` (`Id_Adherent`),
  CONSTRAINT `utilisateur_ibfk_1` FOREIGN KEY (`Id_Adherent`) REFERENCES `adherent` (`Id_Adherent`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `utilisateur` WRITE;
/*!40000 ALTER TABLE `utilisateur` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateur` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

